<!DOCTYPE html>
<html>

<head>

	<meta name="viewport" content="width=device-width" />
	<title>Aplicativo de chamadas em grupo</title>
	<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
	<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="./../../bootstrap.min.css">
	<link rel="stylesheet" href="./../../style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<script src="./../../jquery-3.4.1.min.js"></script>

	<script src="./../../app.js"></script>

	<script>
		$(function () {

			const urlParams = new URLSearchParams(window.location.search);

			var meeting_id = urlParams.get('meetingID');

			var user_id = urlParams.get('uid');
			if (!user_id) {
				user_id = window.prompt('Informe seu nome');
			}

			if (!user_id || !meeting_id) {
				alert('Usuário ou ID da reunião inválido');
				window.location.href = '/sign';
				return;
			}
			$("#meetingContainer").show();
			$("#meetingContainer").css({
				"display": "flex"
			});
			$("#meetingbox").hide();
			$(".username_holder").val(user_id);
			MyApp._init(user_id, meeting_id);

		});

	</script>
</head>

<body>
	<div id="meetingbox" style="display: none;">
	</div>

	<main class="container-fluid d-flex flex-column home-wrap">

		<div class="g-top text-light">
			<div class="top-remote-video-show-wrap d-flex">

				<div id="meetingContainer" style="display: none;">
					<h1 id='meetingname'></h1>
					<div class="call-wrap " style="background-color: black;">
						<div id='divUsers' class="video-wrap" style="display:none;display: flex;flex-wrap: wrap;">
							<div id="me" class="userbox div-center-column">
								<h2 class="display-center" style="font-size: 14px;"></h2>
								<div class="display-center">
									<video autoplay muted id="localVideoCtr" />
								</div>
							</div>
							<div id="otherTemplate" class="userbox div-center-column" style="display:none">
								<h2 class="display-center" style="font-size: 14px;"></h2>
								<div class="display-center">
									<video autoplay muted id="remoteVideoCtr111"></video>
									<audio autoplay controls style="display:none" id="remoteAudioCtr111"></audio>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="g-right-details-wrap bg-light text-secondary"
					style="flex-basis: 25%;z-index: 1;display: none;">
					<div class="meeting-heading-wrap d-flex justify-content-between align-items-center px-4"
						style="height: 10vh;">
						<div class="meeting-heading font-weight-bold"> Detalhes da reunião</div>
						<div class="meeting-heading-cross cursor-pointer d-flex align-items-center">
							<span class="material-icons">
								clear
							</span>
						</div>
					</div>
					<div
						class="people-chat-wrap d-flex justify-content-between align-items-center border-bottom px-4"
						style="font-size: 14px;">
						<div class="people-heading d-flex align-items-center cursor-pointer">
							<div class="people-heading-icon display-center">
								<span class="material-icons mr-2">
									people
								</span>
								<span class="people-heading-text">
									Participantes (<span class="participant-count">1</span>)
								</span>
							</div>
						</div>
						<div class="chat-heading d-flex justify-content-around align-items-center cursor-pointer">
							<div class="chat-heading-icon display-center">
								<span class="material-icons mr-2">
									message
								</span>
								<span class="chat-heading-text">
									Chat
								</span>
							</div>
						</div>
					</div>
					<div class="in-call-chat-wrap px-4 mt-4" style="font-size: 14px;">
						<div class="in-call-wrap-up" style="display: none !important;">
							<div class="in-call-wrap d-flex justify-content-between align-items-center mb-3">
								<div class="participant-img-name-wrap display-center cursor-pointer">
									<div class="participant-img">
										<img src="images/other.jpg" alt="" class="border border-secondary"
											style="height: 40px;width: 40px;border-radius: 50%;">
									</div>
									<div class="participant-name ml-2">Você</div>
								</div>
								<div class="participant-action-wrap display-center">
									<div class="participant-action-dot display-center mr-2 cursor-pointer">
										<span class="material-icons">
											more_vert
										</span>
									</div>
									<div class="participant-action-pin display-center cursor-pointer">
										<span class="material-icons">
											push_pin
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="chat-show-wrap text-secondary mb-2" style="font-size:14px;">
							<div class="chat-message-show">
								<div id="messages"></div>
								<div id="lastMessage"></div>
							</div>
							<div class="d-flex justify-content-between align-items-center">
								<div class="chat-message-sent-input pr-3 w-100">
									<input type="text" name="" class="chat-message-sent-input-field w-100" id="msgbox"
										placeholder="Mensagem"
										style="border: transparent;border-bottom: 1px solid teal;background-color: #F8F9FA;">
								</div>
								<div class="chat-message-sent-action mt-2 mr-2" id="btnsend" style="color: teal">
									<input type="file" id="customFile" name="imagefile" hidden>
									<label for="customFile" class="material-icons m-0" style="cursor: pointer">
										attach_file
									</label>
								</div>
								<div class="chat-message-sent-action mt-2" id="btnsend" style="color: teal;cursor: pointer;">
									<span class="material-icons">
										send
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="g-top-left bg-light text-secondary d-flex align-items-center justify-content-between px-2">
			<div class="top-left-participant-wrap display-center cursor-pointer-icon">
				<div class="top-left-participant-icon pt-1">
					<span class="material-icons">
						people
					</span>
				</div>
			</div>
			<div class="top-left-chat-wrap display-center cursor-pointer-icon mx-3">
				<span class="material-icons">
					message
				</span>
			</div>
			<div class="top-left-time-wrap" style="font-weight: bold;"></div>
			<div class="top-left-you-wrap text-light d-none">Você</div>
		</div>

		<div class="g-bottom bg-light m-0 d-flex justify-content-between align-items-center ">
			<div class="bottom-left d-flex " style="height:10vh;">
				<div class="g-detail border border-success mb-2" style="display: none;">
					<div class="g-details-heading  d-flex justify-content-between align-items-center border-bottom">
						<div class="g-details-heading-detail d-flex align-items-center cursor-pointer">
							<span class="material-icons mr-1">
								error
							</span>
							Detalhes
						</div>
					</div>
					<div class="g-details-heading-show-wrap">
						<div class="g-details-heading-show">
							<div style="font-weight: 600;color: gray;">Link de Acesso</div>
							<div style="padding: 5px 0" class="meeting_url" data-toggle="tooltip" data-placement="top"
								title="Tooltip on top"></div>
							<div class="d-flex align-items-center" style="cursor: pointer;">
								<span class="material-icons mr-1" style="font-size: 14px">
									content_copy
								</span>
								<span class="copy_info font-weight-bold">
									Copiar Link de Acesso 
									<span	class="font-weight-bold link-conf p-1"
										style="display: none;background-color: aquamarine;border-radius: 5px;">
										Link copiado
									</span>
								</span>
							</div>
						</div>
					</div>
				</div>

				<div class=" display-center cursor-pointer meeting-details-button">
					Detalhes da reunião
					<span class="material-icons">
						keyboard_arrow_down
					</span>
				</div>
			</div>

			<div class="bottom-middle d-flex justify-content-center align-items-center" style="height:10vh;">
				<div class="mic-toggle-wrap action-icon-style display-center mr-2 cursor-pointer" id="btnMuteUnmute">
					<span class="material-icons">
						mic_off
					</span>
				</div>

				<div class="end-call-wrap action-icon-style display-center mr-2 cursor-pointer">
					<span class="material-icons text-danger">
						call
					</span>
				</div>

				<div class="video-toggle-wrap action-icon-style display-center cursor-pointer" id="btnStartStopCam">
					<span class="material-icons">
						videocam_off
					</span>
				</div>

			</div>
			<div class="bottom-right d-flex justify-content-center align-items-center mr-3 " style="height:10vh;">
				<div class="present-now-wrap d-flex justify-content-center flex-column align-items-center mr-5 cursor-pointer"
					id="btnStartStopScreenshare" style="height:10vh;">
					<div class="present-now-icon">
						<span class="material-icons">
							present_to_all
						</span>
					</div>
					<div>Apresentar Agora</div>
				</div>
				<button style="display: none;" id="btnResetMeeting">Reset Meeting</button>
				<div class="option-wrap cursor-pointer-icon display-center pt-2">
					<div class="recording-wrap cursor-pointer" style="position: absolute;display:none;">
						<button class="recording-ation btn btn-danger btn-sm mb-2" id="start-recording">Iniciar Gravação</button>
						<button id="download-video" class="btn btn-success btn-sm w-100" disabled>Baixa Vídeo</button>
					</div>
					<div class="option-icon">
						<span class="material-icons">
							more_vert
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="top-box-show" style="display: none;">

		</div>
		<input type="hidden" name="" class="username_holder">

	</main>
	<script>
		let mediaRecorder;
		let recordedBlobs;
		var recordButton = document.querySelector('#start-recording');
		var downloadButton = document.querySelector('#download-video');
		recordButton.addEventListener('click', () => {
			console.log(recordButton.textContent);
			if (recordButton.textContent === 'Start Recording') {
				startRecording();
				alert("start");
			} else {
				stopRecording();
				recordButton.textContent = 'Start Recording';
				downloadButton.disabled = false;
				alert("stop");
			}
		});



		downloadButton.addEventListener('click', () => {
			const blob = new Blob(recordedBlobs, {
				type: 'video/webm'
			});
			const url = window.URL.createObjectURL(blob);
			const a = document.createElement('a');
			a.style.display = 'none';
			a.href = url;
			a.download = 'test.webm';
			document.body.appendChild(a);
			a.click();
			setTimeout(() => {
				document.body.removeChild(a);
				window.URL.revokeObjectURL(url);
			}, 100);
		});

		function handleDataAvailable(event) {
			console.log('handleDataAvailable', event);
			if (event.data && event.data.size > 0) {
				recordedBlobs.push(event.data);
			}
		}

		function startRecording() {
			navigator.mediaDevices.getUserMedia({
				video: true,
				audio: true
			}).then(stream => {


				recordedBlobs = [];
				let options = {
					mimeType: 'video/webm;codecs=vp9,opus'
				};
				if (!MediaRecorder.isTypeSupported(options.mimeType)) {
					console.error(`${options.mimeType} não é suportado`);
					options = {
						mimeType: 'video/webm;codecs=vp8,opus'
					};
					if (!MediaRecorder.isTypeSupported(options.mimeType)) {
						console.error(`${options.mimeType} não é suportado`);
						options = {
							mimeType: 'video/webm'
						};
						if (!MediaRecorder.isTypeSupported(options.mimeType)) {
							console.error(`${options.mimeType} não é suportado`);
							options = {
								mimeType: ''
							};
						}
					}
				}

				try {
					mediaRecorder = new MediaRecorder(stream, options);
				} catch (e) {
					console.error('Exception while creating MediaRecorder:', e);

					return;
				}

				console.log('Created MediaRecorder', mediaRecorder, 'with options', options);
				recordButton.textContent = 'Stop Recording';
				//        playButton.disabled = true;
				downloadButton.disabled = true;
				mediaRecorder.onstop = (event) => {
					console.log('Recorder stopped: ', event);
					console.log('Recorded Blobs: ', recordedBlobs);
				};
				mediaRecorder.ondataavailable = handleDataAvailable;
				mediaRecorder.start();
				console.log('MediaRecorder started', mediaRecorder);
			})
		}

		function stopRecording() {
			mediaRecorder.stop();
		}
		$(function () {
			$(document).on("click", ".option-icon", function () {
				$(".recording-wrap").slideToggle(200)
			})
			const urlParams = new URLSearchParams(window.location.search);
			var meeting_id = urlParams.get('meetingID');
			var base_url = window.location.origin;

			$(document).on("click", ".share-attach", function (e) {
				e.preventDefault();
				var att_img = $("#customFile").prop('files')[0];
				var formData = new FormData();
				formData.append("zipfile", att_img);
				formData.append("meeting_id", meeting_id);
				formData.append("username", $('.username_holder').val());
				console.log(formData);

				$.ajax({
					url: base_url + "/attachimg",
					type: 'POST',
					data: formData,
					contentType: false,
					processData: false,
					success: function (response) {
						console.log(response);
					},
					error: function () {
						console.log('error');
					}
				})
			})

			$(".custom-file-input").on("change", function () {
				var fileName = $(this).val().split("\\").pop();
				$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
			});

			setInterval(() => {
				var time = new Date();
				var timeDiv = document.getElementsByClassName("top-left-time-wrap");
				timeDiv[0].innerHTML = time.toLocaleString('pt-BR', {
					hour: 'numeric',
					minute: 'numeric',
					hour12: false
				});
			}, 1000);

			$(document).on('click', '.top-left-participant-wrap', function () {
				$(".g-right-details-wrap").show(300);
				$(".in-call-wrap-up").show(300);
				$(".chat-show-wrap").hide(300);

			});
			$(document).on('click', '.top-left-chat-wrap', function () {
				$(".g-right-details-wrap").show(300);
				$(".in-call-wrap-up").hide(300);
				$(".chat-show-wrap").show(300);

			});
			$(document).on('click', '.meeting-heading-cross', function () {
				$(".g-right-details-wrap").hide(300);

			});
			$(document).on('click', '.chat-heading', function () {
				$(".in-call-wrap-up").hide(300);
				$(".chat-show-wrap").show(300);
			});
			$(document).on('click', '.people-heading', function () {
				$(".in-call-wrap-up").show(300);
				$(".chat-show-wrap").hide(300);
			});


			$(document).on('click', '.meeting-details-button', function () {
				$(".g-detail").slideToggle(300);
			});
			$(document).on("click", ".g-details-heading-detail", function () {
				$(".g-details-heading-show").show();
				$(".g-details-heading-show-attachment").hide();

			})
			$(document).on("click", ".g-details-heading-attachment", function () {
				$(".g-details-heading-show").hide();
				$(".g-details-heading-show-attachment").show();
			})
			$(document).on("click", ".copy_info", function () {
				var $temp = $("<input>");
				$("body").append($temp);
				$temp.val($(".meeting_url").text()).select();
				document.execCommand("copy");
				$temp.remove();
				$('.link-conf').show();
				setTimeout(function () {
					$('.link-conf').hide();
				}, 3000)
			})
			var url = window.location.href;
			$(".meeting_url").text(url)
			setTimeout(function () {
				var videoWidth = $("video").width();
				$("video").css({
					"width": videoWidth + "px"
				});
			}, 1000)

			function videoWith() {
				var videoCounter = $(".userbox").length;
				var videoContainerWidth = $("#divUsers").width();
				var videoWidth = (Math.floor(videoContainerWidth / videoCounter)) / 2;
				$("video").css({
					"width": videoWidth + "px"
				});
			}
			$(document).on('click', '.end-call-wrap', function () {
				$('.top-box-show').css({
					"display": "block"
				}).html('<div class="top-box align-vertical-middle profile-dialoge-show "> <h1 class="mt-2">Sair da Reunião</h1> <hr> <div class="call-leave-cancel-action d-flex justify-content-center align-items-center w-100"> <a href="/sign"><button class="call-leave-action btn btn-danger mr-5">Sair</button></a> <button class="call-cancel-action btn btn-secondary">Cancelar</button> </div> </div>');

			})
			$(document).mouseup(function (e) {
				var container = new Array();
				container.push($('.top-box-show'));
				$.each(container, function (key, value) {
					if (!$(value).is(e.target) && $(value).has(e.target).length === 0) {
						$(value).empty();
					}
				})

			})
			$(document).on('click', '.call-cancel-action', function () {
				$('.top-box-show').html('');
			})
		})

	</script>
</body>

</html>